* {
  margin: 0px;
  font-family: "Bebas Neue";
  height: 100%;
}
.left {
  width: 60%;
  height: 100%;
  display: block;
  position: absolute;
  float: left;
}

.footer {
  margin-top: 80%;
  height: 20%;
  background-color: rgb(51,51,51);
}
